<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssaf.play.dao.MatchDao">

	<insert id="regist" parameterType="Match">
		INSERT INTO Matches
		VALUES(0, #{title}, #{content}, #{start_date}, 0, #{limit_head_count}, #{address}, #{location}, #{latitude}, #{longitude}, #{sports_id});
	</insert>

</mapper>