<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssaf.play.dao.UserDao">
	<insert id="regist" parameterType="User">
		INSERT INTO User (email,
		password, name, phone_number, profile_img, birth_date, reg_date,
		gender_id, manner_score, match_count, record, grade_id,
		preferred_position)
		VALUES (#{email}, #{password}, #{name},
		#{phone_number}, #{file_name}, #{birth_date}, NOW(), #{gender_id},
		100, 0, '0-0-0', 1, #{preferred_position})
	</insert>

	<select id="logIn" parameterType="String" resultType="User">
		select *
		from user
		where email = #{email}
	</select>

	<!-- myPage 불러오기 -->
	<select id="myPage" parameterType="String" resultType="User">
		SELECT
		user_id,
		email,
		name,
		password,
		phone_number,
		profile_img AS file_name,
		birth_date,
		reg_date,
		gender_name,
		manner_score,
		match_count,
		record,
		grade_name,
		position_name
		FROM User
		INNER JOIN Positions ON Positions.position_id =
		User.preferred_position
		INNER JOIN Gender ON Gender.gender_id =
		User.gender_id
		INNER JOIN Grade ON Grade.grade_id= User.grade_id
		WHERE
		email = #{email};
	</select>

	<!-- 유저 정보 수정 -->
	<update id="updateUser" parameterType="User">
		UPDATE user SET
		password =
		#{password},
		phone_number = #{phone_number},
		profile_img =
		#{profile_img},
		birth_date = #{birth_date},
		preferred_position = (SELECT
		position_id FROM positions WHERE position_name =
		#{preferred_position_name})
		WHERE email = #{email};
	</update>

	<!-- 유저 회원 탈퇴 -->
	<delete id="deleteUser" parameterType="String">
		DELETE FROM user
		WHERE email = #{email};
	</delete>

</mapper>